// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// FortAwesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@font-face{
    font-family:'ISans';
    src:url("../assets/fonts/isans/IRANSansWeb.eot?#")
    format("eot"),url("../assets/fonts/isans/IRANSansWeb.woff")
    format("woff"),url("../assets/fonts/isans/IRANSansWeb.ttf")
    format("truetype");
}

// Variables
@import "variables";
@import "red";
@import "owl.carousel";
@import "owl.theme.default";


// Bootstrap
@import "~rtl-bootstrap/scss/bootstrap";

a:hover {
    text-decoration: none !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.required {
  color: red;
}

.carousel {
  cursor: pointer;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.mt-6 {
  margin-top: 4.5rem !important;
}

.mt-7 {
  margin-top: 6.5rem !important;
}

.mmt-1 {
    margin-top: -2rem;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32;
}

#mask {
position: fixed;
height: 100%;
width: 100%;
background-color: #FFF;
z-index: 9999;
top: 0;
left: 0;
right: 0;
bottom:0;
}

.loader {
position: absolute;
width: 140px;
height: 140px;
margin: auto;
top: 0;
bottom: 0;
right: 0;
left: 0;
}

.m-title {
  font-size: 25px;
}

.m-title a {
  color: #212529;
}

.show-more {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #FA697C, #FA9F6F);
    padding: 3px;
    border-radius: 10px;
    left: 20px;
    position: absolute;
    font-size: 16px;
}

.game-item {
  margin-bottom: 10px;
}

.game-image {
  position: relative;
}

.game-image img {
  cursor: pointer;
  border-radius: 5px;
}

.game-text {
    position: absolute;
    bottom: 0px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.8);
    width: 350px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 7px;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.game-text:hover {
  padding-bottom: 5px;
}

.game-name {
  float:left;
  left: 6px;
  position: relative;
  font-size: 15px;
}

.game-platforms {
    float: right;
    right: 6px;
    position: relative;
}

.tournament-item {
    margin-bottom: 10px;
}

.tournament-image {
    font-size: 22px;
}

.tournament-image img {
    cursor: pointer;
    background: rgba(0,0,0,0.2);
    padding: 16px;
    border-radius: 100%;
    margin: 10px;
}

.tournament-details {
    background: #ffffff;
    color: #545454;
    border-radius: 35px;
    border: 1px solid #e6e6e6;
}

.tournament-details li {
    list-style: none;
    text-align: right;
    position: relative;
    padding: 10px;
    margin: 10px 20px;
}

.tournament-text {
    float: left;
    position: relative;
    background: #ececec;
    padding: 3px 10px;
    border-radius: 100px;
}

.tr-register {
    display: inline-block;
    background: green;
    color: #fff;
    text-align: center;
    padding: 10px 25%;
    border-radius: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 45px auto 35px auto;
    -webkit-box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.7);
    box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.7);
}

.tr-register:hover {
  color:#FFF;
  background: #2fa92f;
}

.disabled-register {
  background: darkgray !important;
  color:#505050 !important;
}

.disabled-register:hover {
  background: gray !important;
  color:#212121 !important;
}

.footer {
  background: #323232;
  border-top: 1px solid #4c4c4c;
  color: #dddddd;
}

.footer-top {
    width: 100%;
    background-color: #292929;
    border-bottom: 1px solid #141414;
}

.footer-social {
  margin-top: 20px;
}

.footer-social-link {
    display: inline;
    font-size: 20px;
    margin: 5px;
}

.footer-social-link a {
  color: #FFF;
}

.footer-left {
  font-size: 18px;
  text-align: left;
}

.footer-links li {
    padding: 5px;
    display: block;
}

.footer-links a {
  color: #fff;
}
.owl-certs img {
  width: 150px !important;
}

.copyright {
  width: 100%;
  background: rgba(0,0,0,0.2);
  border-bottom: 1px solid #282828;
  text-align: center;
  color: #9e9e9e;
  padding: 7px;
}

.no-data {
  min-height: 45vh;
  position: relative;
}

.no-data span {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 25px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    color: #828282;
}
