// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import '../../node_modules/select2/dist/css/select2.min.css';
@import '../../node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css';

// FortAwesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@font-face{
    font-family:'ISans';
    src:url("../assets/fonts/isans/IRANSansWeb.eot?#")
    format("eot"),url("../assets/fonts/isans/IRANSansWeb.woff")
    format("woff"),url("../assets/fonts/isans/IRANSansWeb.ttf")
    format("truetype");
}

// Variables
@import "variables";
@import "global";
@import "red";
@import "owl/owl.carousel";
@import "owl/owl.theme.default";
@import "custom-pagination";

// Bootstrap
@import "~rtl-bootstrap/scss/bootstrap";

// Remove selected item in select2
.select2-results__option[aria-selected=true] {
    display: none;
}

main {
  min-height: 46vh;
}
#mask {
position: fixed;
height: 100%;
width: 100%;
background-color: #FFF;
z-index: 9999;
top: 0;
left: 0;
right: 0;
bottom:0;
}

.loader {
position: absolute;
width: 140px;
height: 140px;
margin: auto;
top: 0;
bottom: 0;
right: 0;
left: 0;
}

.m-title {
  font-size: 25px;
}

.m-title span  {
    border-bottom: 4px solid $dorange;
    padding-bottom: 14px;
}

.m-title a {
  color: #212529;
}

.show-more {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #FA697C, #FA9F6F);
    padding: 3px;
    border-radius: 10px;
    left: 20px;
    position: absolute;
    font-size: 16px;
}

.game-item {
  margin-bottom: 10px;
}

.game-image {
  position: relative;
}

.game-image img {
  cursor: pointer;
  border-radius: 5px;
}

.game-text {
    position: absolute;
    bottom: 0px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.8);
    width: 350px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 7px;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.game-text:hover {
  padding-bottom: 5px;
}

.game-name {
  float:left;
  left: 6px;
  position: relative;
  font-size: 15px;
}

.game-platforms {
    float: right;
    right: 6px;
    position: relative;
}

.tournament-item {
    margin-bottom: 10px;
}

.tournament-image {
    font-size: 22px;
}

.tournament-image img {
    cursor: pointer;
    background: rgba(0,0,0,0.2);
    padding: 16px;
    border-radius: 100%;
    margin: 10px;
}

.tournament-details {
    background: #ffffff;
    color: #545454;
    border-radius: 35px;
    border: 1px solid #e6e6e6;
}

.tournament-details li {
    list-style: none;
    text-align: right;
    position: relative;
    padding: 10px;
    margin: 10px 20px;
}

.tournament-text {
    float: left;
    position: relative;
    background: #ececec;
    padding: 3px 10px;
    border-radius: 100px;
}

.tr-register {
    display: inline-block;
    background: green;
    color: #fff;
    text-align: center;
    padding: 10px 25%;
    border-radius: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 45px auto 35px auto;
    -webkit-box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.7);
    box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.7);
}

.tr-register:hover {
  color:#FFF;
  background: #2fa92f;
}

.tr-result {
    display: inline-block;
    background: #ff5400;
    color: #fff;
    text-align: center;
    padding: 10px 25%;
    border-radius: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 45px auto 35px auto;
    -webkit-box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.7);
    box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.7);
}

.tr-result:hover {
  color:#FFF;
  background: #ff8245;
}

.disabled-register {
  background: darkgray !important;
  color:#505050 !important;
}

.disabled-register:hover {
  background: gray !important;
  color:#212121 !important;
}

.footer {
  background: #323232;
  border-top: 1px solid #4c4c4c;
  color: #dddddd;
}

.footer-top {
    width: 100%;
    background-color: #292929;
    border-bottom: 1px solid #141414;
}

.footer-social {
  margin-top: 20px;
}

.footer-social-link {
    display: inline;
    font-size: 20px;
    margin: 5px;
}

.footer-social-link a {
  color: #FFF;
}

.footer-left {
  font-size: 18px;
  text-align: left;
}

.footer-links li {
    padding: 5px;
    display: block;
}

.footer-links a {
  color: #fff;
}

.owl-certs img {
  width: 150px !important;
}

.copyright {
  width: 100%;
  background: rgba(0,0,0,0.2);
  border-bottom: 1px solid #282828;
  text-align: center;
  color: #9e9e9e;
  padding: 7px;
}

.result-name {
    font-size: 2rem;
    text-align: center;
}

.first-place {
  background: #ff5400;
  color: #FFF;
}

.second-place {
  background: #8c8c8c;
  color: #FFF;
}

.fplace {
  margin-top: 40px;
  font-size: 20px;
  color: #ff5400;
  background: #FFF;
}

.winner-image {
  position: relative;
}

.winner-image img {
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    background: #34373a;
}


.winner-text {
    position: relative;
    background: #ececec;
    padding: 3px 10px;
    border-radius: 100px;
    margin: 15px;
    text-align: center;
}

.rank {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 25px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    color: rgba(0,0,0,0.35);
    border: 2px solid;
}

.winning-icon {
    float: right !important;
    background: #ff5400;
    color: #FFF;
    padding: 5px 15px;
    border-radius: 100px;
    position: relative;
    right: -10px;
  }

.profile-icons {
    background: #ff5400;
    font-size: 33px;
    color: #FFF;
    border-radius: 5px;
}

.profile-icons a {
  color: #FFF !important;
}

// Sidenav
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #282f39;
  overflow-x: hidden;
  padding-top: 20px;
  color: #fff;
}

.sidenav-profile img {
    background: #1f252d;
    border-radius: 100%;
    padding: 10px;
}

.sidenav-link a {
  color: #fff !important;
}

.sidenav-link a:hover {
  color: #fff !important;
}

.sidenav-link li {
    list-style: none;
    background: rgba(0,0,0,0.2);
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.sidenav-link li:hover {
  background: rgba(0,0,0,0.4);
}

.sidenav-footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 7px;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #FFF;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.team-item {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 15px;
    -webkit-box-shadow: -5px 6px 22px -15px rgba(0, 0, 0, 0.7);
    box-shadow: -5px 6px 22px -15px rgba(0, 0, 0, 0.7);
}

.team-image {
    position: relative;
    width: 230px;
    margin-right: 5px;
    padding: 10px 5px;
}

.team-image img {
  border-radius: 5px;
  width: 100%;
}

.team-text {
    background: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    position: relative;
    width: 100%;
    padding: 2px;
}

.game-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.game-icon img {
  border-radius: 100%;
  background: #191919;
}

.logout-profile {
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 7px;
    background: rgba(0,0,0,0.5);
    border-radius: 100%;
    padding: 7px 8px 0px 12px;
}

.logout-profile a {
  color: #FFF;
}

.tmi {
    font-size: 13px;
    margin-right: 5px;
    border: 2px solid;
    border-radius: 100px;
    padding: 1px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.edit-b:hover {
  -webkit-box-shadow:inset 1000px 1000px 0 0 $green;
  box-shadow:inset 1000px 1000px 0 0 $green;
  color: #FFF !important;
  border-color: $green;
}

.lock-b:hover {
    -webkit-box-shadow:inset 1000px 1000px 0 0 $dorange;
    box-shadow:inset 1000px 1000px 0 0 $dorange;
    color: #FFF !important;
    border-color: $dorange;
}

.unlock-b:hover {
    -webkit-box-shadow:inset 1000px 1000px 0 0 $red;
    box-shadow:inset 1000px 1000px 0 0 $red;
    color: #FFF !important;
    border-color: $red;
}


.team-disabled {
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    z-index: 999;
    width: 100%;
    border-top-right-radius: 10px;
    height: 270px;
    border-top-left-radius: 10px;
    color: #fff;
}

.team-disabled span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 90px;
}

.card-register {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 35px;
    box-shadow: 0px 5px 17px -9px #000;
}

.alert-button {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #FFF;
}

.alert-button:hover {
  color: #FFF;
}

.team-game-name {
    list-style: none;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 100px;
    cursor: pointer;
}

.sidebar {
  background-color: #282f39;
  padding-top: 20px;
  color: #fff;
  border-radius: 10px;
}

.user-info {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    padding-bottom: 6px;
    margin-bottom: 20px;
}

.user-info span {
    border-bottom: 2px solid #ff5400;
    padding-bottom: 5px;
    padding-left: 10px;
}

.sog {
  border-radius: 5px;
  padding: 10px 0px 0px 0px;
  cursor: pointer;
}

.sog img {
    width: 70%;
    margin-right: 15%;
}

.sog-text {
    text-align: center;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 7px 0px 3px 0px;
}

.steam {
  background: #0f1c30; /* Old browsers */
  background: -moz-linear-gradient(top,  #0f1c30 0%, #1381b2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0f1c30 0%,#1381b2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0f1c30 0%,#1381b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1c30', endColorstr='#1381b2',GradientType=0 ); /* IE6-9 */
}

.epicgames {
  background: #212121; /* Old browsers */
  background: -moz-linear-gradient(top,  #212121 0%, #727272 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #212121 0%,#727272 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #212121 0%,#727272 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
}

.ubisoft {
  background: #180032; /* Old browsers */
  background: -moz-linear-gradient(top,  #180032 0%, #6578a5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #180032 0%,#6578a5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #180032 0%,#6578a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#180032', endColorstr='#6578a5',GradientType=0 ); /* IE6-9 */
}

.riot {
  background: #870000; /* Old browsers */
  background: -moz-linear-gradient(top,  #870000 0%, #bf373b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #870000 0%,#bf373b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #870000 0%,#bf373b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#870000', endColorstr='#bf373b',GradientType=0 ); /* IE6-9 */
}

.game-name-prof {
    border: 2px solid #4e4e4e;
    margin: 0px 7px;
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 17px;
    color: #4e4e4e;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.game-name-prof:hover {
  background: #4e4e4e;
  color: #FFF;
}

.team-captain {
    position: absolute;
    color: white;
    background: #ff5400;
    padding: 6px 8px 1px 6px;
    z-index: 99;
    border-radius: 100%;
    top: 5px;
    right: 5px;
}

.tr-result-icon {
  font-size: 4vh;
  color: rgba(0,0,0,0.5);
}

.user-image {
    position: relative;
    background: #323232;
    width: 100%;
    padding: 10px 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.user-image img {
    width: 100%;
}
