// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// FortAwesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@font-face{
    font-family:'ISans';
    src:url("../assets/fonts/isans/IRANSansWeb.eot?#")
    format("eot"),url("../assets/fonts/isans/IRANSansWeb.woff")
    format("woff"),url("../assets/fonts/isans/IRANSansWeb.ttf")
    format("truetype");
}

// Variables
@import "variables";
@import "red";

// Bootstrap
@import "~rtl-bootstrap/scss/bootstrap";

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.required {
  color: red;
}

.carousel {
  cursor: pointer;
}

#mask {
position: fixed;
height: 100%;
width: 100%;
background-color: #FFF;
z-index: 9;
top: 0;
left: 0;
right: 0;
bottom:0;
}

.loader {
position: absolute;
width: 140px;
height: 140px;
margin: auto;
top: 0;
bottom: 0;
right: 0;
left: 0;
}
