// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// FortAwesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@font-face{
    font-family:'ISans';
    src:url("../assets/fonts/isans/IRANSansWeb.eot?#")
    format("eot"),url("../assets/fonts/isans/IRANSansWeb.woff")
    format("woff"),url("../assets/fonts/isans/IRANSansWeb.ttf")
    format("truetype");
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #ff6565 !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #ff6565 !important;
}

// Variables
@import "variables";

// Bootstrap
@import "~rtl-bootstrap/scss/bootstrap";

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.red-icon {
  color: #ff6565 !important;
}

.red-bar {
  background: #ff6565 !important;
  color: #FFF;
}

.btn-red {
    color: #fff;
    background-color: #ff6565;
    border-color: transparent;
}

.btn-red:hover {
    color: #fff;
    background-color: #b92121;
    border-color: transparent;
}

.btn-red:focus, .btn-red.focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 185, 185);
}

.btn-red:not([disabled]):not(.disabled):active, .btn-red:not([disabled]):not(.disabled).active, .show > .btn-red.dropdown-toggle {
    color: #fff;
    background-color: #ff6565;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(255, 185, 185, 0.5);
}

.btn-link-red {
    font-weight: 400;
    color: #fe6565;
    background-color: transparent;
}

.required {
  color: red;
}

#mask {
position: fixed;
height: 100%;
width: 100%;
background-color: #FFF;
z-index: 9;
top: 0;
left: 0;
right: 0;
bottom:0;
}

.loader {
position: absolute;
width: 140px;
height: 140px;
margin: auto;
top: 0;
bottom: 0;
right: 0;
left: 0;
}
