.page-item.active .page-link {
    background-color: #0b1117 !important;
    border-color: #1c2125 !important;
    color: #FFF !important;
}
.page-link {
    color: #fff !important;
}
.page-link {
    background-color: #1c2125 !important;
    border: 1px solid #1c2125 !important;
}
.page-item.disabled .page-link {
    background-color: #1c2125 !important;
    border-color: #1c2125 !important;
}
.page-link:focus, .page-link:hover {
    background-color: #0b1117 !important;
    border-color: #0b1117 !important;
}
