body {
    margin: 0;
    font-family: "ISans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    text-align: right;
    background-color: #343a40;
}

.tournament-details {
    background: #222629;
    color: #ffffff;
    border-radius: 35px;
    border: 1px solid #1f1f1f;
}

.tournament-text {
    float: left;
    position: relative;
    background: #1d1d1d;
    padding: 3px 10px;
    border-radius: 100px;
}
