@media only screen and (max-width: 1024px) {
  .sidenav {
    right: -350px !important;
  }
  .mobile-margin {
    margin-top: 50px;
  }
  .collapse-sidenav {
    display: block !important;
  }
  .mobile-logo {
    position: absolute;
    left: 5px;
    margin: auto;
    top: 0;
  }
}


@media only screen and (min-width: 1025px) {
  .sidenav {
    right: 0px !important;
  }
  .mobile-margin {
    margin-top: 0;
  }
}
