.dropdown-item.active, .dropdown-item:active {
    background-color: #f8ae40 !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #f8ae40 !important;
}

.red-icon {
  color: #f8ae40 !important;
}

.red-bar {
  background: linear-gradient(145deg,#ffdb62,#f8ae40);
  box-shadow: 0 3px 20px rgba(250,123,119,.3);
  color: #a06100;
}

.btn-red {
    color: #a06100;
    background: linear-gradient(145deg,#f8ae40,#f8ae40);
    border-color: transparent;
}

.btn-red:hover {
    color: #fff;
    background-color: #d08415;
    border-color: transparent;
}

.btn-red:focus, .btn-red.focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 185, 185);
}

.btn-red:not([disabled]):not(.disabled):active, .btn-red:not([disabled]):not(.disabled).active, .show > .btn-red.dropdown-toggle {
    color: #fff;
    background-color: #f8ae40;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(255, 185, 185, 0.5);
}

.btn-link-red {
    font-weight: 400;
    color: #fe6565;
    background-color: transparent;
}
