.t-status {
  padding: 5px;
  border-radius: 5px;
}

.pending {
  background: #eca340;
  color: #8c5600;
}

.in-progress {
  background: #9b5cff;
}

.answered {
  background: #ffd951;
  color: #6b5400;
}

.user-answered {
  background: $blue;
  color: #fff;
}

.completed {
  background: $green;
  color: #355f00;
}

.closed {
  background: $red;
}

.ck[dir=rtl], .ck[dir=rtl] .ck {
    font-family: "ISans";
}

.ck.ck-editor__main>.ck-editor__editable {
    color: #000;
}

.comment-header {
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.comment-message {
    background: rgba(0,0,0,0.3);
    padding: 10px;
}

.comment-attachment {
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
